


@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');


.page-wrapper {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "sidebar content";
    grid-template-columns: 1fr 72%;
  grid-gap: 1px;
  justify-content: center;
  background-image: url(image/sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

a:link{
  color: #283747;
  font-weight:400;
}
a:hover{
  color: #873600;
}
a:link {
  text-decoration: none;
}

.intro{
grid-area: header;
grid-template-columns: auto auto;
/* border: 1px solid black; */
padding: 25px;
background-image: url(image/flower_rock.jpg);
background-repeat: no-repeat;
background-size: cover;
margin: 20px;
border-radius: 50px 20px;
-webkit-box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);
box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);
}

h1{
font-family:'Dancing Script', cursive, serif;
letter-spacing: 3px
font-weight: 600;
font-size: 80px;
font-style: italic;
margin-left: 70px;
line-height:normal;
text-shadow: 1px 2px 2px #1C6EA4;
}


h2{
font-family:'Dancing Script', cursive, serif;
font-weight: 600;
font-size: 48px;
letter-spacing: 3px
font-style: italic;
text-align: center;
/* border: 1px solid black; */
}

h3{
  letter-spacing: 3px;
  color: navy;
}

.summary{
grid-area: content;
font-family:'Dancing Script', cursive, serif;
font-weight: 200;
font-size: 24px;
font-style: normal;
text-align: left;
margin-left: 242px;
/* border: 1px solid black; */
}

.preamble{
grid-area: content;
font-family:'Dancing Script', cursive, serif;
font-weight: 200;
font-size: 24px;
font-style: normal;
text-align: left;
margin-left:;
}

.main
{

background-image: url(image/bgbamboo.jpg);
background-repeat: no-repeat;
background-size: cover;
margin: 20px;
border-radius: 50px 20px;
-webkit-box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);
box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);

grid-area: content;
font-family:'Dancing Script', cursive, serif;
font-weight: 200;
font-size: 24px;
font-style: normal;
text-align: left;
margin-left:;
/* border: 1px solid black; */
padding:25px;

}

.sidebar {
  grid-area: sidebar;
  background-image: url(image/lotus2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:'Dancing Script', cursive, serif;
  font-weight: 200;
  font-size: 24px;
  font-style: normal;
  text-align: left;
  margin-left:;
  /* border: 1px solid black; */
  padding:20px;
  margin: 20px;
  border-radius: 50px 20px;
  margin-bottom: 1200px;
  -webkit-box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);
box-shadow: 14px 3px 23px 4px rgba(0,0,0,0.94);

}
h3.select{
  color: navy;
}

h3.select{
  letter-spacing: 3px
}

.sidebar ul{
  /* list-style-type: circle; */
  list-style-image:url(image/zen-symbol.png);
}
